body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

header{
	text-align: center;
	padding: 15px;
	border-width: 0px 0px 10px 0px;
	border-style: double;
	background-image: url("../img/textura.png");
    background-repeat: repeat;
    box-shadow: 0px 5px 5px rgba(200, 200, 200, 0.9);
}

#logo{
	max-width: 500px; 
	float: center;
}

h2{
	text-align: center;
}

.row{
 	text-align: center;
 }
